@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <app-root>
    </app-root>
</div>
@Styles.Render("~/content/style.css")
@Scripts.Render("~/content/inline.bundle.js")
@Scripts.Render("~/content/polyfills.bundle.js")
@Scripts.Render("~/content/vendor.bundle.js")
@Scripts.Render("~/content/main.bundle.js")

